    body {
      font-family: Arial, sans-serif;
      background-color: #f4f4f4;
      display: flex;
      align-items: center;
      justify-content: center;
      height: 100vh;
    }

* {
      margin: 0;
      padding: 0;
      box-sizing: border-box;
    }

    nav {
      background-color: #275f8d;
      padding: 1rem 2rem;
      display: flex;
      justify-content: space-between;
      align-items: center;
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 1000;
    }

    .menu-esquerda, .menu-direita {
      display: flex;
      gap: 20px;
    }

    nav a {
      text-decoration: none;
      color: white;
      font-weight: bold;
      padding: 8px 15px;
      border-radius: 5px;
      transition: background-color 0.3s;
    }

    nav a:hover {
      background-color: #07335a;
    }

    .cadastro {
      background-color: #02084b;
      color: white;
    }

    section {
      padding: 100px 20px;
      min-height: 100vh;
    }

    .formulario {
      background-color: #4682B4;
      padding: 30px;
      border-radius: 10px;
      width: 100%;
      max-width: 400px;
      margin-top: 100px;
      margin-bottom: 30px;
    }

    .titulo {
      text-align: center;
      margin-bottom: 20px;
      color: #ffffff;
    }

    .campo {
      display: flex;
      flex-direction: column;
      margin-bottom: 15px;
    }

    .campo label {
      margin-bottom: 5px;
      font-weight: bold;
      color: #ffffff;
    }

    .campo input {
      padding: 10px;
      border: 1px solid #ccc;
      border-radius: 6px;
    }

    .botao {
      width: 100%;
      padding: 12px;
      background-color: #02084b;
      color: white;
      font-weight: bold;
      border: none;
      border-radius: 6px;
      cursor: pointer;
      transition: background-color 0.3s;
    }

    .botao:hover {
      background-color: #0a0218;
    }